@layout LoginLayout
@using Fyp.Auth
@using FinalYearProjectWasmPortal.Helpers
@inherits LoginModalBase
@inject IAuthClient AuthClient
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="modal modal-backdrop modal-background" role="dialog" style="padding: 0; display: @ModalDisplay;">
    <div style="height: 100%; width: 100%; position: absolute" @onclick="Close"></div>
    <div class="modal-dialog modal-sm" style="display: table; vertical-align: middle">
        <div class="modal-content" style="border-radius: 13px; padding: 13px; height: 80%; width: 60vw;">
            @if (IsLoading)
            {
                <MudGrid>
                    <MudItem xs="12" sm="12">
                        <MudPaper Class="pa-4 m-4" Style="text-align: center">
                            <MudProgressLinear Color="Color.Primary" Indeterminate="true"/>
                        </MudPaper>
                    </MudItem>
                </MudGrid>
            }
            else
            {
                <div class="modal-header">
                    <h3 class="modal-title">@ModalTitle</h3>
                    <a class="ml-auto modal-close" @onclick="Close">
                        &#10006;
                    </a>
                </div>
                <div class="modal-body">
                    <MudContainer Class="row">
                        <MudGrid>
                            <MudItem xs="12" sm="12">
                                <MudPaper Class="pa-4">
                                    <div class="d-flex align-center justify-space-between flex-column">
                                        <MudCardHeader>
                                            Enter the email address associated with your account
                                        </MudCardHeader>
                                    </div>
                                    <MudForm @ref="_form" @bind-IsValid="_success">
                                        <MudTextField T="string" Label="Email Address" HelperText="Enter the email you last remember was associated with your account."
                                                      HelperTextOnFocus="true" @bind-Value="ForgotPasswordRequest" Required="true"
                                                      RequiredError="Email is required." ErrorText="Email is required."/>
                                        <div class="d-flex align-center justify-content-center">
                                            <MudButton Variant="Variant.Filled" Color="Color.Primary"
                                                       Disabled="@(!_success)" @onclick="HandleForgotPassword"
                                                       Class="text-center">
                                                Send Email
                                            </MudButton>
                                        </div>
                                    </MudForm>
                                </MudPaper>
                            </MudItem>
                        </MudGrid>
                    </MudContainer>
                </div>
            }
        </div>
    </div>
</div>

@code {

    public async Task Initialise()
    {
        ModalTitle = "Forgot Password?";
        StateHasChanged();
    }

    private async Task HandleForgotPassword()
    {
        try
        {
            await AuthClient.ForgotPasswordAsync(ForgotPasswordRequest);
            await DisplaySuccess($"Successfully sent password change request to email: {ForgotPasswordRequest}.");
        }
        catch (APIException ex)
        {
            await DisplayError(ErrorHelper.UnwrapError(ex).ToString());
        }
    }

    private bool _success;
    private MudForm _form = new();
    private string? ForgotPasswordRequest { get; set; }

}