@inherits ChatComponentBase

<MudPaper Class="pa-4">
    <MudGrid Class="position-relative">
        <MudImage Src="@Main?.ProfileInfo?.ProfileDetails?.BannerUrl" Alt="" Class="profile-backdrop"></MudImage>
        <MudItem xs="3"></MudItem>
        <MudItem xs="6" Class="d-flex justify-content-center">
            <div class="profile-avatar-container">
                <MudAvatar Color="Color.Primary" Style="width: 200px; height: 200px">
                    @if (!string.IsNullOrWhiteSpace(Main?.ProfileInfo?.ProfileDetails?.ProfilePictureUrl))
                    {
                        <MudImage Src="@(Main?.ProfileInfo?.ProfileDetails?.ProfilePictureUrl)"></MudImage>
                    }
                    else
                    {
                        @Main?.UserInfo?.Username[0]
                    }
                </MudAvatar>
            </div>
        </MudItem>
        <MudItem xs="3">
        </MudItem>
    </MudGrid>
</MudPaper>

@code {

}